body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family:Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
li, h2, h3, h4 {
    color: white;
}

/**header**/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.navlinks{
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: underline;
}

.logo{
    padding-left: 10px;
    height: 50px;
}

/**banner**/
.banner{
    background-image: url(../resources/img-mission-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_text{
    background-color: black;
    width: 100%;
    padding: auto;
    text-align: center;
}

/** Tea of the Month**/

.teaTitle{
    text-align: center;
}

.tea_container{
    display: inline-flex;
    flex-wrap: wrap;
    width: 1500px;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.tea_img img{
    height: 200px;
    width: 300px;
    padding: 10px;
}

