body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family:Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
li, h2, h3, h4 {
    color: white;
}

/**header**/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
    
}

.navlinks{
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: underline;
}

.logo{
    padding-left: 10px;
    height: 50px;
}

/**banner**/
.banner{
    background-image: url(../resources/img-mission-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_text{
    background-color: black;
    width: 100%;
    padding: auto;
    text-align: center;
}

/** Tea of the Month**/

.teaTitle{
    text-align: center;
}

.tea_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    
}
.tea_img img{
    height: 200px;
    width: 300px;
    padding: 10px 10px;
}

/**location**/
.location{
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url(../resources/img-locations-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.text_top{
    font-size: 43px;
    font-weight: bold;
}

.location_text{
    max-width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto auto auto;
}

.boxes{
    box-sizing: border-box;
    background-color: black;
    opacity: .8;
    max-height: 300px;
    padding: 20px;
    flex-basis: 30%;
    margin-bottom: auto;
}

/**contact**/
footer{
    display: block;
    float: left;
    padding-left: 20px;
}

.contact{
    text-align: center;
}